section(id="first-card-placeholder")
    include ../components/ads_card.pug
section(id="second-card-placeholder")
    include ../components/ads_card.pug
section(id="third-card-placeholder")
    include ../components/ads_card.pug