header(id="primary_content_title")
    p(class="text-light")
        span / Board 01
    h2(class="fatface title") Who is going to win the 2024 US presidential election?
    p
        span(class="text-bold") End on:&nbsp;
        span Nov 04, 2024