label(class="toggle-switch")
    input(type="checkbox" checked=isUnChecked)
    div(class="toggle-switch-container")
        img(src="images/toggle.svg", alt="Toggle Icon")
    p(class="toggle-switch-label") #{label}