.ads-container {
    min-height: 16.875rem;
    min-width: 17.125rem;
    background-color: #EFE97C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.6rem;
    margin: 0 0 1.5rem 0;
}

.ads-container p {
    margin: 0;
    text-align: center;
}